<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>No encontrado</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert" class="text-center text-brown text-xl font-semibold mt-16">Lo sentimos, no hay nada en esta dirección.</p>
            <div class="flex justify-center mt-6">
                <a href="/" class="bg-brown text-white py-3 px-6 rounded-full font-semibold hover:bg-darkbrown transition-all duration-300 shadow-md">
                    Volver al Catálogo
                </a>
            </div>
        </LayoutView>
    </NotFound>
</Router>