<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        </LayoutView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p class="text-danger mt-4">Página no encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>