@typeparam T where T : ICardItem
@implements IDisposable
@inject ApiService ApiService
@inject NavigationManager Navigation


@code {
    [Parameter]
    public List<T>? Items { get; set; }

}

@foreach (var p in Items ?? new List<T>())
{
    <div class="carta-home">
        <div class="card h-100">
            @if (!string.IsNullOrEmpty(p.ImagenUrl))
            {
                <img src="@p.ImagenUrl" class="card-img-top" alt="Imagen de @p.Nombre">
            }
            <div class="card-body">
                <h5 class="card-title">@p.Nombre</h5>
                <p class="card-text">@p.Descripcion</p>
                <p class="card-text"><strong>Stock:</strong> @p.Stock unidades</p>
                <p class="card-text text-success"><strong>Precio:</strong> $@p.Precio.ToString()</p>
                @if (p is ItemCompraGtDto item)
                {
                    <p class="card-text text-primary"><strong>Costo:</strong> $@item.subTotal</p>
                }
                <div class="d-grid gap-2">
                    @if (ApiService.Compra != null)
                    {
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <button type="button" class="btn btn-outline-primary"
                                @onclick="()=>ModificarCantidad(p.Id, -1)">-</button>

                            <input type="number" meta-id="@p.Id" min="0" max="@p.Stock"
                                value="@((p is ItemCompraGtDto c ? c.Cantidad : cantidades[p.Id]))"
                                @onchange="(e) => CapturarCantidad(p.Id, e.Value)"
                                class="form-control text-center w-auto border-bottom border-primary" style="max-width: 80px;">

                            <button type="button" class="btn btn-outline-primary"
                                @onclick="()=>ModificarCantidad(p.Id, 1)">+</button>
                        </div>

                        <button type="button" class="btn btn-primary"
                            @onclick="async () => AgregarCarrito(p.Id, p.Precio, p.Stock, p.Nombre)">Agregar
                            Carrito</button>
                        @if (Navigation.Uri.Contains("/carrito"))
                        {
                            <button type="button" class="btn btn-danger"
                                @onclick="async () => EliminarDelCarrito(p.Id)">Eliminar</button>
                        }

                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" @onclick="InicairCarrito">Iniciar compra</button>

                    }
                </div>
            </div>
        </div>
    </div>
}


@code {

    private Dictionary<int, int> cantidades = new Dictionary<int, int>();


    protected override async Task OnInitializedAsync()
    {
        ApiService.OnChange += StateHasChanged;
        InicializarListaCantidades();
    }

    public void Dispose()
    {
        ApiService.OnChange -= StateHasChanged;
    }


    private async Task InicairCarrito()
    {
        try
        {
            await ApiService.IniciarCarrito();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al Iniciar al carrito: {ex.Message}");
        }
    }

    void CapturarCantidad(int productoId, object valor)
    {
        if (int.TryParse(valor.ToString(), out int cantidad))
        {
            cantidades[productoId] = Math.Max(0, cantidad); // Evita valores negativos
        }
    }

    void ModificarCantidad(int productoId, int cambio)
    {
        if (!cantidades.ContainsKey(productoId))
        {
            cantidades[productoId] = 0;
        }
        cantidades[productoId] = Math.Max(0, cantidades[productoId] + cambio);
    }

    public void InicializarListaCantidades()
    {
        foreach (var p in Items ?? new List<T>())
        {
            if (!cantidades.ContainsKey(p.Id))
            {
                cantidades[p.Id] = 0; // Inicializa con 0
            }
        }
    }

    public async Task AgregarCarrito(int id, decimal precio, int stock, string nombre)
    {
        try
        {
            var cantidad = cantidades[id];
            if (cantidad <= stock)
            {
                var data = new ItemCompraDto
                {
                    ProductoId = id,
                    Cantidad = cantidades[id],
                    PrecioUnitario = precio
                };
                await ApiService.AgregarProductoAlCarrito(data, nombre, stock);

            }
            else
            {
                Console.WriteLine($"Sobrepasa el stock disponible");
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al agregar al carrito: {ex.Message}");
        }
    }

    public async Task EliminarDelCarrito(int idP)
    {
        try
        {
            await ApiService.ElimarDelCarrito(idP);
            Console.WriteLine($"Producto Eliminado");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al agregar al carrito: {ex.Message}");
        }
    }

}