@using cliente.modelos
@using cliente.Services
@inject ApiService Api

<div class="card h-100 card-product">
    <div class="card-body position-relative">
        <div class="text-center position-relative">
            <img src="@Producto.ImagenUrl" alt="@Producto.Nombre" class="mb-3 img-fluid product-image">
        </div>
        <div class="text-small mb-1">
            <a href="#" class="text-decoration-none text-muted"><small>Stock: @Producto.Stock</small></a>
        </div>
        <h2 class="fs-6">
            <a href="#" class="text-inherit text-decoration-none">@Producto.Nombre</a>
        </h2>
        <div class="d-flex flex-column justify-content-between align-items-center mt-3">
            <div>
                <span class="text-dark">$ @Producto.Precio.ToString()</span>
            </div>
            <div>
                     @* El botón ahora se deshabilita si el stock es 0 *@
                <button class="btn btn-primary btn-sm" @onclick="() => ManejarAgregarAlCarrito(Producto.Id)" disabled="@(Producto.Stock == 0 || agregando)">
                    @if(agregando)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    else if (Producto.Stock == 0)
                    {
                        <span>Sin Stock</span>
                    }
                    else
                    {
                         <i class="bi bi-cart3"></i>
                    }
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Producto Producto { get; set; } = new();

    private bool agregando = false;

    private async Task ManejarAgregarAlCarrito(int productoId)
    {
        agregando = true;
        await Api.AgregarAlCarrito(productoId);
        agregando = false;
    }
}